force-app/main/default/flows/Validate_All_Credentials.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Credential</name>
        <label>Validate Credential</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <actionName>copado__ValidateOrgAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_Credentials</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>orgId</name>
            <value>
                <elementReference>Loop_through_Credentials.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__ValidateOrgAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Validate All Credentials {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Validate All Credentials</label>
    <loops>
        <name>Loop_through_Credentials</name>
        <label>Loop through Credentials</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Gather_Credentials</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Validate_Credential</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Gather_Credentials</name>
        <label>Gather Credentials</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Credentials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Validated_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>OK</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>copado__Org__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gather_Credentials</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
